@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Merriweather:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    color:green;
    font-family: bitter, sans-serif;
}
h1, h2{
    font-family: Merriweather, sans-serif;
    color: black;
}
    /* Nav and Logo*/
    .nav-links{
    text-align: center;
    margin-top: 20px;
}
    
.nav-links li{
    
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 4px 8px;
    letter-spacing: 1px;
    
}
#signin-button{
    position: absolute;
    top: 20px;
    right: 20px;
    letter-spacing: 1px;
}
#logo{
    position: absolute;
    display: flex;
    top: 16px;
    left: 12px;
    letter-spacing: 3px;
    
}

/* Hero-Image */
#hero-image{
    background-image: url(../images/Hero-image1.jpg);
    width: 100%;
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 30px;
    
}
/* Hero-Image text */

#trial-button{
    position: absolute;
    top: 60px;
    left: 150px;
}

.herotext{
    position: absolute;
    top: 280px;
    left: 350px;
    text-align: center;
    color: white;
    text-decoration: solid;
}